<!-- Sección Sobre Mí -->
<section class="sobre-mi seccion-oscura">
  <div class="contenedor">
    <h2 class="seccion-titulo">Conoce a Manuel Blanco</h2>
    <p class="seccion-texto">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
      consectetur nam error facilis dolore laborum, ut veritatis dolorum
      temporibus laboriosam quidem cumque consequuntur repudiandae, nulla illum?
      Iure ad doloribus deserunt velit dicta labore facilis distinctio iste.
      Sapiente reprehenderit numquam culpa ut odit? Alias minima laborum quis
      eum magni, incidunt atque.
    </p>
  </div>
</section>

<!-- Sección Experiencia -->

<section class="experiencia seccion-clara">
  <div class="container text-center">
    <div class="row">
      <!-- Desarrollo Web -->
      <div class="col-12 col-md-4">Desarrollo Web</div>
      <!-- Articulos -->
      <div class="col-12 col-md-4">Articulos</div>
      <!-- Estudiante -->
      <div class="col-12 col-md-4">Estudiante</div>
    </div>
  </div>
</section>
