<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-toggler"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
      Menu
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <a class="navbar-brand" href="#">
        <img src="../assets/icono.png" width="50" alt="Logo de la pagina web" />
      </a>
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink=""
            [ngClass]="{ active: menuOption === 'home' }"
            (click)="onOption('home')"
          >
            <i class="bi bi-house-door-fill"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="sobremi"
            [ngClass]="{ active: menuOption === 'sobremi' }"
            (click)="onOption('sobremi')"
          >
            <i class="bi bi-file-earmark-person-fill"></i>
            Sobre mí
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="proyectos"
            [ngClass]="{ active: menuOption === 'proyectos' }"
            (click)="onOption('proyectos')"
          >
            <i class="bi bi-clipboard-check-fill"></i>
            Proyectos
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="articulos"
            [ngClass]="{ active: menuOption === 'articulos' }"
            (click)="onOption('articulos')"
          >
            <i class="bi bi-sim-fill"></i>
            Articulos
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-disabled="true"
            routerLink="testimonios"
            [ngClass]="{ active: menuOption === 'testimonios' }"
            (click)="onOption('testimonios')"
          >
            <i class="bi bi-chat-right-text-fill"></i>
            Testimonios
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-disabled="true"
            routerLink="contacto"
            [ngClass]="{ active: menuOption === 'contacto' }"
            (click)="onOption('contacto')"
          >
            <i class="bi bi-envelope-fill"></i>
            Contacto
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
