<!-- Barra de navegación -->
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-toggler"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <a class="navbar-brand" href="#">
        <img src="../assets/icono.png" width="50" alt="Logo de la pagina web" />
      </a>
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink=""
            [ngClass]="{ active: menuOption === 'home' }"
            (click)="onOption('home')"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="sobremi"
            [ngClass]="{ active: menuOption === 'sobremi' }"
            (click)="onOption('sobremi')"
            >Sobre mí</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="proyectos"
            [ngClass]="{ active: menuOption === 'proyectos' }"
            (click)="onOption('proyectos')"
            >Proyectos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-disabled="true"
            routerLink="testimonios"
            [ngClass]="{ active: menuOption === 'testimonios' }"
            (click)="onOption('testimonios')"
            >Testimonios</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-disabled="true"
            routerLink="contacto"
            [ngClass]="{ active: menuOption === 'contacto' }"
            (click)="onOption('contacto')"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet />

<!-- <footer
  class="seccion-oscura d-flex flex-column align-items-center justify-content-center"
>
  <img
    class="footer-logo"
    src="imagenes/icono-blanco.svg"
    alt="Logo del portafolio"
  />
  <p class="footer-texto text-center">
    Aprendo y creo todos los días.<br />Creemos un proyecto juntos.
  </p>
  <div
    class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center"
  >
    <a
      href="https://twitter.com/freecodecampES"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="bi bi-twitter"></i>
    </a>
    <a
      href="https://github.com/freeCodeCamp/freeCodeCamp"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="bi bi-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="bi bi-linkedin"></i>
    </a>
    <a
      href="https://www.instagram.com/freecodecamp/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="bi bi-instagram"></i>
    </a>
    <a
      href="mailto:janedoe@micorreo.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="bi bi-envelope"></i>
    </a>
  </div>
  <div class="derechos-de-autor">Creado por Jane Doe (2022) &#169;</div>
</footer> -->
