router-outlet {
  background-color: blue;
}

/* Barra de navegacion */
.navbar {
  padding: 1rem;
  background-color: #ededee;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
.nav-link:hover {
  color: rgb(37, 37, 109);
}

/* Footer */

/* Media Queryes */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
