<section class="proyectos-recientes seccion-clara d-flex flex-column">
  <h2 class="seccion-titulo texto-negro">Mis proyectos recientes</h2>
  <h3 class="seccion-descripcion">
    Estos son algunos proyectos que he creado recientemente...
  </h3>

  <!-- Galeria de proyectos -->
  <div class="container text-center proyectos-contenedor">
    <div class="row">
      <!-- Proyecto 1 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/proyecto1.png" alt="Proyecto 1" />
          <div class="overlay">
            <p>Cmr Frontend</p>

            <div class="iconos-contenedor">
              <a
                href="https://github.com/mandresblac/proyectoCrmFrontend"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github"></i>
              </a>

              <a
                href="https://merry-moonbeam-35c33d.netlify.app/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-laptop"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 2 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/proyecto2.png" alt="Proyecto 2" />
          <div class="overlay">
            <p>Lista de tareas</p>

            <div class="iconos-contenedor">
              <a
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github"></i>
              </a>

              <a
                href="https://lista-tareas-reacttypescript.netlify.app/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-laptop"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 3 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/proyecto3.png" alt="Proyecto 3" />
          <div class="overlay">
            <p>Proyecto 3</p>

            <div class="iconos-contenedor">
              <a
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github"></i>
              </a>

              <a
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-laptop"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 4 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/proyecto4.png" alt="Proyecto 4" />
          <div class="overlay">
            <p>Proyecto 4</p>

            <div class="iconos-contenedor">
              <a
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github"></i>
              </a>

              <a
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-laptop"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 5 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/proyecto5.png" alt="Proyecto 5" />
          <div class="overlay">
            <p>Proyecto 5</p>

            <div class="iconos-contenedor">
              <a
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github"></i>
              </a>

              <a
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-laptop"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 6 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/proyecto6.png" alt="Proyecto 6" />
          <div class="overlay">
            <p>Proyecto 6</p>

            <div class="iconos-contenedor">
              <a
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github"></i>
              </a>

              <a
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-laptop"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
    <button type="button" class="btn btn-info">
      Ver más proyectos
      <i class="bi bi-arrow-right-circle-fill"></i>
    </button>
  </a>
</section>
