<section class="seccion-oscura">
  <div class="container">
    <div class="container text-center rectangulo d-flex justify-content-evenly">
      <div class="">
        <div class="seccion-titulo text-center">¡Hablemos!</div>
        <div class="text-center descripcion">
          Contáctame para iniciar tu proyecto de desarrollo web y haré que tu
          visión se vuelva realidad.
        </div>
      </div>
    </div>
  </div>

  <form class="col-7 mt-5">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Nombres y Apellidos</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Juan Perez"
      />
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Telefono</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="31058962340"
      />
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Mensaje</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Escribe tu mensaje aquí."
      ></textarea>
    </div>

    <button type="button" class="btn btn-outline-primary">Enviar</button>
  </form>
</section>
